nav {
  border-right: 1px solid #dfdfdf;
  padding-right: 1vw;
  margin-left: 2vw;
  height: 100vh;
  color: #fff;
}

.room-title {
  font-family:'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-size: 1.6em;
}

.users-container {
  display: flex;
  flex-direction: column;
}

.users-title {
  font-size: 1.25em;
}

.users-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 60px;
}

.users-list li {
  margin-bottom: 12px;
}